In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
jobs = pd.read_csv('../data/fullsample.csv')

jobs = jobs.dropna(subset = ['BEGIN', 'END'])

jobs['BEGIN'] = pd.to_datetime(jobs['BEGIN'],
                               infer_datetime_format = True,
                               errors = 'coerce')

jobs['END'] = pd.to_datetime(jobs['END'],
                             infer_datetime_format = True,
                             errors = 'coerce')

jobs.head()

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,30616928,RUNNING,2021-07-31 22:15:00,NaT,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0
1,30853133,COMPLETED,2021-08-06 11:36:09,2021-09-05 11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0
2,30858137,COMPLETED,2021-08-06 19:04:39,2021-09-05 19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0
3,30935078,COMPLETED,2021-08-09 16:52:51,2021-09-07 20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0
4,31364111_2,COMPLETED,2021-08-17 07:45:07,2021-09-10 16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0

In [4]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7395885 entries, 0 to 7395884
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   JOBID      object
 1   STATE      object
 2   BEGIN      datetime64[ns]
 3   END        datetime64[ns]
 4   REQMEM     object
 5   USEDMEM    object
 6   REQTIME    object
 7   USEDTIME   object
 8   NODES      int64
 9   CPUS       int64
 10  PARTITION  object
 11  EXITCODE   object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 733.5+ MB

In [5]:
jobs['JOBLENGTH'] = jobs['END'] - jobs['BEGIN']

jobs.head()

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,JOBLENGTH
0,30616928,RUNNING,2021-07-31 22:15:00,NaT,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0,NaT
1,30853133,COMPLETED,2021-08-06 11:36:09,2021-09-05 11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0,30 days 00:00:23
2,30858137,COMPLETED,2021-08-06 19:04:39,2021-09-05 19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0,30 days 00:00:14
3,30935078,COMPLETED,2021-08-09 16:52:51,2021-09-07 20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0,29 days 04:00:04
4,31364111_2,COMPLETED,2021-08-17 07:45:07,2021-09-10 16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0,24 days 09:00:17

In [30]:
jobs['MEMPERUNIT'] = jobs['REQMEM'].str.extract(r'(M\w)')
jobs['REQMEM'] = jobs['REQMEM'].str.extract(r'(\d+)')

In [32]:
jobs.loc[jobs['MEMPERUNIT'] == 'Mn', 'REQMEMTOT'] = jobs['REQMEM'] * jobs['NODES']
jobs.loc[jobs['MEMPERUNIT'] == 'MC', 'REQMEMTOT'] = jobs['REQMEM'] * jobs['CPUS']

In [38]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7395885 entries, 0 to 7395884
Data columns (total 15 columns):
 #   Column      Dtype
---  ------      -----
 0   JOBID       object
 1   STATE       object
 2   BEGIN       datetime64[ns]
 3   END         datetime64[ns]
 4   REQMEM      object
 5   USEDMEM     object
 6   REQTIME     object
 7   USEDTIME    object
 8   NODES       int64
 9   CPUS        Int64
 10  PARTITION   object
 11  EXITCODE    object
 12  JOBLENGTH   timedelta64[ns]
 13  MEMPERUNIT  object
 14  REQMEMTOT   object
dtypes: Int64(1), datetime64[ns](2), int64(1), object(10), timedelta64[ns](1)
memory usage: 1.1+ GB

In [33]:
jobs.head()

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,JOBLENGTH,MEMPERUNIT,REQMEMTOT
0,30616928,RUNNING,2021-07-31 22:15:00,NaT,2048,0,10:04:00,67-22:14:22,1,1,production,0:0,NaT,Mn,2048
1,30853133,COMPLETED,2021-08-06 11:36:09,2021-09-05 11:36:32,262144,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0,30 days 00:00:23,Mn,262144
2,30858137,COMPLETED,2021-08-06 19:04:39,2021-09-05 19:04:53,204800,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0,30 days 00:00:14,Mn,204800
3,30935078,COMPLETED,2021-08-09 16:52:51,2021-09-07 20:52:55,65536,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0,29 days 04:00:04,Mn,65536
4,31364111_2,COMPLETED,2021-08-17 07:45:07,2021-09-10 16:45:24,16384,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0,24 days 09:00:17,Mn,16384

In [40]:
jobs.to_csv('../data/jobs_clean.csv',
           index = False)

In [7]:
logs = pd.read_csv('../data/slurm_both.csv')

logs.head()

,time,user,retry,elapsed_time,return_code,command,server
0,2020-10-16 08:15:39.278699,0,0,0.073476,0,sacct,ce5
1,2020-10-16 08:18:08.313309,0,0,0.183632,0,sacct,ce5
2,2020-10-16 08:22:48.128689,0,0,0.075471,0,sacct,ce5
3,2020-10-16 08:25:13.257408,0,0,0.094844,0,sacct,ce5
4,2020-10-16 08:31:01.460723,0,0,0.074988,0,sacct,ce5

In [23]:
logs.columns

Index(['time', 'user', 'retry', 'elapsed_time', 'return_code', 'command',
       'server'],
      dtype='object')

In [24]:
cols = {
    'time': 'TIME',
    'user': 'USER',
    'retry': 'RETRY',
    'elapsed_time': 'TIMELAPSE',
    'return_code': 'RETURNCODE',
    'command': 'COMMAND',
    'server': 'SERVER'
}

In [27]:
logs = logs.rename(columns = cols)